<mat-sidenav-container class="example-container">
  <mat-sidenav
    #sidenav
    mode="side"
    [(opened)]="opened"
    (opened)="events.push('open!')"
    (closed)="events.push('close!')"
    class="side-bar"
  >
    <mat-toolbar color="primary">
      <span (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
        <span> vFleet</span>
      </span>
    </mat-toolbar>
    <mat-list role="list" class="list_style">
      <mat-list-item role="listitem">
        <a mat-list-item href="#" routerLink="/">
          <mat-icon>dashboard</mat-icon>
          <span>Dashboard</span>
        </a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a mat-list-item href="#" routerLink="/vehicle">
          <mat-icon>directions_car</mat-icon>
          <span>Vehicle</span>
        </a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a mat-list-item href="#" routerLink="/vendor">
          <mat-icon>store</mat-icon>
          <span>Vendor</span>
        </a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a mat-list-item href="#" routerLink="/fule">
          <mat-icon>local_gas_station</mat-icon>
          <span>Fule</span>
        </a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a mat-list-item href="#" routerLink="/places">
          <mat-icon>location_on</mat-icon>
          <span>Places</span>
        </a>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div>
      <mat-toolbar color="primary">
        <span
          (click)="sidenav.toggle()"
          [style.display]="opened ? 'none' : 'block'"
        >
          <mat-icon>menu</mat-icon>
          <span> vFleet</span>
        </span>
        <span class="example-spacer"></span>
        <mat-icon>all_inbox</mat-icon>
        <span class="vdivider"></span>
        <mat-icon>help</mat-icon>
        <span class="vdivider"></span>
        <mat-icon>add</mat-icon>
      </mat-toolbar>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">
          {{ element.vehicle_status_name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let element">
          {{ element.vehicle_type_name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="fule">
        <th mat-header-cell *matHeaderCellDef>Fule</th>
        <td mat-cell *matCellDef="let element">
          {{ element.fuel_entries_count }}
        </td>
      </ng-container>

      <ng-container matColumnDef="color">
        <th mat-header-cell *matHeaderCellDef>Color</th>
        <td mat-cell *matCellDef="let element">{{ element.color }}</td>
      </ng-container>

      <ng-container matColumnDef="license_plate">
        <th mat-header-cell *matHeaderCellDef>License Plate</th>
        <td mat-cell *matCellDef="let element">{{ element.license_plate }}</td>
      </ng-container>

      <ng-container matColumnDef="make">
        <th mat-header-cell *matHeaderCellDef>Make</th>
        <td mat-cell *matCellDef="let element">{{ element.make }}</td>
      </ng-container>

      <ng-container matColumnDef="model">
        <th mat-header-cell *matHeaderCellDef>Model</th>
        <td mat-cell *matCellDef="let element">{{ element.model }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <!-- Grid -->
    <!-- <mat-grid-list cols="1" rowHeight="1:1">
      <mat-grid-tile>
        <mat-card>
          <h2>Vehicle Status</h2>
          <ul *ngIf="vehicles">
            <li *ngFor="let v of vehicles">
              <p class="name">{{ v.name }}</p>
              <p class="country">{{ v.model }}</p>
            </li>
          </ul>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card>
          <h3>Vehicle Status</h3>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card>
          <h3>Vehicle Status</h3>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card>
          <h3>Vehicle Status</h3>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list> -->
  </mat-sidenav-content>
</mat-sidenav-container>

<div>
  <router-outlet></router-outlet>
</div>
